# Add here all files that you'd like to ignore in git

# python virtual enviroment
*/.venv/*
# no digital simulation dump files (.vcd)
*.vcd
# no digital simulation dump files (.fst)
*.fst

# Placeholder for directories created locally each time librelane is run
syn/runs*

# Directories and files created in behavioural simulating of digital blocks
tests/__pycache__/
tb/sim_build
tb/results.xml