name: Run Librelane

on: push

jobs:
  Run-Librelane-Action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run Librelane Action
        # You may pin to the exact commit or the version.
        # uses: fossi-foundation/librelane-action@ea7ab2054b7e8e5903357b39b20ff3c2ff2f90c2
        uses: fossi-foundation/librelane-action@v0.1
        with:
          # The GitHub repository to clone
          #repo: # optional, default is https://github.com/librelane/librelane
          # The version or branch to checkout
          branch: dev # optional, default is 2.4.0
          # The working directory to run Verilator in
          working-directory: src # optional, default is .
          # The arguments to pass to Verilator
          arguments: --pdk ihp-sg13g2 librelane_config.json

      - name: Upload Librelane logs
        uses: actions/upload-artifact@v4
        with:
          path: src/*
        if-no-files-found: warn
        compression-level: 6
        overwrite: false
        include-hidden-files: false
